content {
    display: flex;
}

div {
    height: 750px
}

header {
    border: solid;
    border-width: 1px;
    height: 150px;
}

#leftPanel {
    width: 300px;
    background-color: #eeeeee;
    padding-right: 5px;
}

#mainContent {
    width: 100%;
}

#buttonList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0px;
}

#buttonList button {
    background-color: white;
    margin-left: -35px;
    width: 250px;
    margin-top: 5px;
    height: 50px;
    border: none;
}

#buttonList button:hover {
    background-color: #dddddd;
}

#goalTrackerLeftPanel {
    width: 300px;
}

#miniHead {
    height: 25px;
}

#miniHead p {
    margin: 0px;
}

#goalTracker {
    display: flex;
}

#newGoalButton {
    background-color: aquamarine;
    border: solid;
    border-width: 1px;
    height: 50px;
}

#goal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    height: 50px;
}

#newGoalhi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 50px;
}

#newGoalhi p {
    margin-left: 10px;
}

#newGoalhi:hover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cccccc;
    height: 50px;
}

#goal button {
    width: 25px;
    height: 25px;
    margin: 10px;
}

#goal:hover {
    background-color: #cccccc;
}

#goal p {
    margin-left: 10px;
}

#goalArea {
    background-color: #d2d2d2;
    width: 100%;
}

#newGoalForm {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-left: 10px;
}

#newGoalForm input {
    width: 300px;
}

textarea {
    height: 300px;
    resize: none;
}

#newGoalForm h5 {
    margin-bottom: 0px;
    margin-top: 10px;
}

#newGoalForm button {
    margin-top: 10px;
    width: 100px;
}

#viewGoal {
    display:flex;
    flex-direction: column;
    width: 800px;
    margin-left: 10px;
}

#goalsList {
    background-color: #dddddd;
    width: 250px;
}

#motivation {
    display: flex;
    background-color: #dddddd;
}

#motivationButtons{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.motivationButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    height: 50px;
    margin: 5px 5px 0px 5px;
}

.motivationButton p {
    margin-left: 10px;
}

.motivationButton:hover {
    background-color: #cccccc;
}

.motivationButton p {
    margin-left: 10px;
}

#motivationText {
    display: flex;
    background-color: #cccccc;
    margin-top: 5px;
    width: 800px;
    height: 300px;
    border-radius: 5px;
}

#motivationText p {
    font-size: 20px;
    margin: 10px;
}

#goal-header {
    display: flex;
    justify-content: space-between;
    height: 25px;
    margin-bottom: 10px;
}

#goal-header p {
    margin: 5px;
}

#editGoalButton:hover {
    color: #444444;
    cursor: pointer;
}

#goalCommentInput {
    height: 100px;
}

#motivation button {
    margin: 5px;
}

.hidden {
    display: none !important;
}

#edit-button {

}

#edit-button:hover {
    cursor: pointer;
}